---
layout: default
title: Blog | Regula Aschwanden

lang: de

seo:
  title: Blog | Regula Aschwanden in Brunnen
  description: >-
    Im Blog von Regula Aschwanden findest du Gedanken, Impulse und Inspirationen
    rund um persönliche Entwicklung, Bewusstsein, Hypnose, Astrologie,
    Familienstellen und ein erfülltes Leben.
  social_image: /images/blog/regula-aschwanden-blog-banner.jpg
  twitter_card: summary_large_image
  keywords: Regula Aschwanden Blog, Blog Brunnen, persönliche Entwicklung Brunnen, Bewusstsein, Hypnose Blog, Astrologie Blog, Familienstellen Blog, Inspiration, Lebenswege, Praxis Brunnen
  hide-from-google: false

header_banners:
  - /images/blog/regula-aschwanden-blog-banner.jpg

swiper: true
---

<section class="capped-width">
  <div class="padded">
    <div class="padded  editable">
      <h2> Blog </h2>
        <p class="emphasis"> Hier teile ich Gedanken, Impulse und Inspirationen rund um persönliche Entwicklung, Bewusstsein und ein erfülltes Leben.</p>
      </div>
    </div>
</section>



<section class="bg-texture-1 md-padded-2 padded-t-1 padded">

    <div class="capped-width grid-center blog-box">


        {% assign current_lang = page.lang | default: site.lang | default: 'de' %}
        {% assign lang_posts = site.posts | where: "lang", current_lang %}

        {% for post in lang_posts limit:24 %}
        {% include post-loop-item-square.html %}
        {% endfor %}


    </div>

</section>



<!----->
<section class="capped-width md-padded-2 padded-b-05 padded-t-0">


    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded-2">
            <a class="button" href="/blog-archiv"> Archiv </a>
        </div>
       
    {% endif %}

</section>

