---
layout: default
title: Termin buchen | Regula Aschwanden in Brunnen

seo:
  title: Termin buchen | Regula Aschwanden in Brunnen
  description: >-
    Buche deinen Termin bei Regula Aschwanden in Brunnen. Vereinbare deine
    persönliche Begleitung für Hypnose, Astrologie oder Familienstellen
    telefonisch oder per E-Mail.
  social_image: /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-1.jpg
  twitter_card: summary_large_image
  keywords: Termin Regula Aschwanden, Termin buchen Brunnen, Regula Aschwanden Brunnen, Hypnose Termin Brunnen, Astrologie Termin Brunnen, Familienstellen Termin Brunnen, Praxis Brunnen
  hide-from-google: false

header_banners:
  - /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-1.jpg
  - /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-2.jpg

swiper: true

swiper_1:
  - image: /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-3.jpg
  - image: /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-4.jpg
  - image: /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-5.jpg
  - image: /images/termin-buchen/regula-aschwanden-termin-buchen-swiper-6.jpg
---



{% include sub-menu.html %}



<section class="capped-width">
  <div class=" padded">
    <div class="padded editable">
      <h2> Termin buchen </h2>
        <p class="emphasis">Ich freue mich darauf, dich kennenzulernen und dich auf deinem Weg zu begleiten – vereinbare deinen Termin gerne telefonisch oder per E-Mail. </p>

        <p class="termin-buchen-text"> <a href="tel:+41793417237">Tel. 079 341 72 37</a><br> </p>
        <p class="termin-buchen-text">   <a href="mailto:info@regulaaschwanden.ch">info@regulaaschwanden.ch</a> </p>
    </div>
  </div>
</section>


<section class="capped-width grid-middle-spaceAround">
  <div class="editable padded-2 left col-9_xs-12">
    <p class="quote"> wahrnehmen. erkennen. gehen. </p>
  </div>
  <div class="col-2 padded-2 hide-xs">
    <img data-src="/icons/regula-aschwanden-icon-braun.svg" class="lazy">
  </div>
</section>





<section class="padded capped-width">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for swiper in page.swiper_1 %}
        <div class="swiper-slide">
          <div class="bg-image bg-image-swiper portrait" style="background-image: url('{{ swiper.image }}');"></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="try-to-slide editable">
    <p> -> du kannst hier swipen </p>
  </div> -->
</section>