<header>

  <section class="header-slider tall-80 relative">

    <!-- Bannerbilder aus dem Front Matter -->
    <div class="header-slider-images">

      {% if page.header_banners %}

        {% for image in page.header_banners limit:5 %}
          <div
            class="header-slide {% if forloop.first %}active{% endif %}"
            style="background-image: url('{{ image }}');">
          </div>
        {% endfor %}

      {% endif %}

    </div>


    <!-- Navigation -->
    <section class="capped-width">

      <section class="grid-middle-spaceAround header-content bg-light">

        <nav class="col-4 hide-md right">

          <a href="/"> Start </a>
          <a href="/ueber-mich"> Über mich </a>

          <div class="dropdown">

            <a href="/angebot.html" class="dropdown-title">
              Angebot
            </a>

            <div class="dropdown-content">
              <a href="/hypnose.html"> Hypnose </a>
              <a href="/astrologie.html"> Astrologie </a>
              <a href="/familienstellen.html"> Familienstellen </a>
              <a href="/lernwerkstatt.html"> Lernwerkstatt </a>
              <a href="/maerchen-erzaehlen.html"> Märchen erzählen</a>
            </div>

          </div>

        </nav>


        <div class="col-3 padded-1 relative">

          <div class="pa-bg-logo-header">

            <div class="bg-logo-header">

              <a href="/" class="logo">

                <img
                  src="/icons/regula-aschwanden-sticker-braun.svg"
                  class="header-logo"
                  alt="Regula Aschwanden"
                >

              </a>

            </div>

          </div>

        </div>


        <nav class="col-4 hide-md left">

          <a href="/blog.html"> Blog </a>
          <div class="dropdown">

            <a href="/termin-buchen.html" class="dropdown-title">
              Termin buchen
            </a>

            <div class="dropdown-content">
              <a href="/workshops.html"> Workshops </a>
            </div>

          </div>
          <a href="/kontakt"> Kontakt </a>

        </nav>


        <div class="col-7 right show-md">

          <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </div>

        </div>

      </section>

    </section>

  </section>

</header>


<div class="mobile-menu"> 


          <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </div>

  <div>
    <img data-src="/icons/regula-aschwanden-sticker-braun.svg" class="lazy mobile-logo">
  </div>

  <nav> 
    <a href="/"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/angebot.html"> Angebot </a>
    <div class="dropdown-content-mobile">
      <a href="/hypnose.html"> Hypnose </a>
      <a href="/astrologie.html"> Astrologie </a>
      <a href="/familienstellen.html"> Familienstellen </a>
      <a href="/lernwerkstatt.html"> Lernwerkstatt </a>
      <a href="/maerchen-erzaehlen.html"> Märchen erzählen</a>
    </div>
    <a href="/blog.html"> Blog </a>
    <a href="/termin-buchen"> Termin buchen </a>
    <a href="/kontakt"> Kontakt </a>
  </nav>
</div>