<header>
  <section class="bg-image bg-header header-slider tall-80 relative">

    <section class="capped-width">
    <section class="grid-middle-spaceAround header-content bg-light">

      <nav class="col-4 hide-md right">
        <a href="/"> Start </a>
        <a href="/ueber-mich"> Über mich </a>
        <div class="dropdown">
          <a href="/angebot.html" class="dropdown-title"> Angebot </a>

          <div class="dropdown-content">
            <a href="/thetahealing.html"> ThetaHealing </a>
            <a href="/meditation.html"> Meditation </a>
            <a href="/retreats.html"> Retreats </a>
            <a href="/workshops.html"> Workshops </a>
          </div>
        </div>
      </nav>


      <div class="col-3 padded-1 relative">
        <div class="pa-bg-logo-header">
          <div class="bg-logo-header">
            <a href="/" class="logo">
              <img
                src="/icons/regula-aschwanden-sticker-braun.svg"
                class="header-logo"
                alt="Regula Aschwanden"
              >
            </a>
          </div>
        </div>
      </div>


      <nav class="col-4 hide-md left">
        <a href="/blog.html"> Blog </a>
        <a href="/termin-buchen"> Termin buchen </a>
        <a href="/kontakt"> Kontakt </a>
      </nav>

      <div class="col-7 right show-md">
        <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
        </div>
      </div>
    </section>

    </section>

  </section>
</header>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img data-src="/images/logos/r-logo.png" class="lazy">
  </div>
  <nav> 
    <a href="/"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/tierkinesiologie.html"> Tierkinesiologie </a>
    <div class="dropdown-content-mobile">
      <a href="/energetik.html"> Energetik </a>
      <a href="/tierkommunikation.html"> Tierkommunikation </a>
      <a href="/heilsteine.html"> Heilsteine </a>
      <a href="/reiki.html"> Reiki </a>
      <a href="/farbtherapie.html"> Farbtherapie </a>
      <a href="/bachblueten.html"> Bachblüten </a>
    </div>
    <a href="/termin-buchen"> Termin buchen </a>
    <a href="/shop"> Shop </a>
    <a href="/kontakt"> Kontakt </a>
  </nav>
</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 